body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    border: 1px solid purple;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    height: 50px;
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #1e02f1;
    cursor: pointer;
}
.clearbtn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #1e02f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #0526b8;
}
